@charset "UTF-8";
.message{
	color: red;
}

h1, p{
	margin-top: 0;
}

.icon{
	float:left;
  	height: 80px;
}

.circle{
	width: 50px;
  	height: 50px;
  	border-radius: 50%;
  	background: url("user_icon.png");/*背景色*/
  	margin-right: 10px;
}

.tweet{
	padding: 5px;
  	border-top: solid 1px #EEE;
}

.textbox-radius{
	border-radius: 10px; /* ボックスの四つ角を丸くする */
	border: 2px solid #2eb8e6;  /* 枠線 */
	width: 60%;
}

.button-radius{
	border-radius: 10px; /* ボックスの四つ角を丸くする */
	background: #2eb8e6;
	color: #FFF;
	border: 0px;  /* 枠線 */
	width: 80px;
	height: 30px;
	margin-left: 10px;
}

.button-delete{
    border: 0px;
    width:24px;
    height:24px;
	background: url("delete_icon.png") left top no-repeat;
}

.button-delete:hover{
	background: url("delete_icon_hover.png") left top no-repeat;
}

.control{
	margin-top: 5px;
}

body{
    max-width: 50%;
  	margin: 0 auto;
  	border: solid 1px #EEE;
}

.content{
	background: #FFF;
	margin-top: 0;
}

.name{
	float: left;
	margin-right: 10px;
}

.mention{
	color: #AAA;
}

.hedder{
	background: skyblue;
	color: white;
	height: 200px;
	margin-bottom: 0;
	padding-top: 10%;
	padding-left: 5%;
}

.post{
	padding-top: 5px;
	padding-left: 5px;
}