@charset "UTF-8";

body{
	margin: 0 auto;
	background-image: url("cookie.jpg");
	background-size:cover;
	font-size: 20px;
    font-family: "YuGothic","Yu Gothic","Meiryo","ヒラギノ角ゴ","sans-serif";
}

div{
	margin-top: 100px;
	padding-top: 50px;
	padding-left: 18%;
	padding-bottom: 50px;
}

h1{
	color: #ffffff;
}

p{
	color: #c0c0c0;
}

label{
	display: block;
	float: left;
	width: 50px;
}

div{
	background-color: rgba(0,0,0,0.3);
	color: #800000;
}

input{
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	color: #800000;
	border: solid 2px #800000;
	border-radius: 3px;
	margin-bottom: 10px;
}

.submit:hover {
  background: #800000;
  color: white;
}

